.fondo-imagen{
    background-image: url(../img/yuriy-kovalev-nN1HSDtKdlw-unsplash.jpg);
    background-size: auto;
    background-position: center;
    background-attachment: fixed;
}

/*padding*/
.padding{
    padding: 3%;
}
.centrar-texto{
    text-align: center;
}
.color-fondo-1{
    background-color: #4b9dbf ;
}
.color-fondo-2{
    background-color: #72abc8  ;
}
.color-fondo-3{
    background-color: #88b3cd  ;
}
.color-fondo-4{
    background-color: #a8c2d6  ;
}
.color-fondo-5{
    background-color: #9aacc4 ;
}
.color-fondo-6{
    background-color: #9cacbc ;
}
header h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Times New Roman', Times, serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #183846;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: .8rem;
    background-color: #72abc8;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .5rem;


}

nav ul{
    display: flex ; /**/
    flex-direction: row; /*como ordenar la lista "row/column"*/
    list-style: none;
    background-color: #327b9b;
    justify-content: space-around; /*DAR ESPACIO ENTRE LOS ELEMENTOS DE LA LISTA*/
    margin: 0 auto;
    padding-left: 0;
    margin-top:  2rem;
    max-width: 80%;
    color: #9aacc4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Times New Roman', Times, serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: .3rem;
    padding-top: .5rem;
    padding-bottom: .5rem;

}
nav ul li:hover{
    cursor: pointer;
    background-color: #255a70;
    padding:0% 1% 0% 1%;
    transition: .3s ease-in-out;
    border-radius: 3%;
}


header h1:hover{
    cursor: grab;
    background-color: #327b9b;
    transition: .5s ease-in-out;
    
}

@media (min-width: 300px)  and (max-width: 700px){
    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 0%;
    }
}
    


